<section class="about" id="about">
  <div class="container">
    <div class="about-container align-items-center">
      <div class="about-content">
        <h5>About Us</h5>
        <h2>We Are Here For You </h2>
        <p>Thank you so much for taking time out to visit our page. We are so grateful that you are considering supporting Passports4Change. </p>
        <p>Passports4Change started as a conversation years ago and is now blooming into a full service program to support youth from marginalized communities.</p>
        <p>This program truly aims to connect youth from marginalized communities to the global society by creating accessible, affordable pathways to travel, cross-cultural exchange and cultural immersion.</p>
        <div class="about-btn">
          More About Us
        </div>
      </div>
      <div class="img">
        <%= image_tag 'home/aboutus_img.png' %>
      </div>
    </div>
  </div>
</section>
