<div class="aff-row">
  <div class="aff-box">
    <i class="fa-solid fa-handshake-angle"></i>
    <h3>Affiliate 1</h3>
  </div>

  <div class="aff-box">
    <i class="fa-solid fa-handshake-angle"></i>
    <h3>Affiliate 2</h3>
  </div>

  <div class="aff-box">
    <i class="fa-solid fa-handshake-angle"></i>
    <h3>Affiliate 3</h3>
  </div>
</div>
