<section class="gifts" id="gifts">
  <div class="centered">
    <div class="gift-cards">
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c16.jpg" %>
          <h2>Heading One</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c16.jpg" %>
          <h2>Heading Two</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c16.jpg" %>
          <h2>Heading Three</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
