<div class="milestone-row">
  <div class="milestone-box">
    <i class="fa-solid fa-hashtag"></i>
    <h3>Years of Operation </h3>
  </div>

  <div class="milestone-box">
    <i class="fa-solid fa-hashtag"></i>
    <h3>Monthly Donors</h3>
  </div>

  <div class="milestone-box">
    <i class="fa-solid fa-hashtag"></i>
    <h3>Monthly Volunteers</h3>
  </div>

  <div class="milestone-box">
    <i class="fa-solid fa-hashtag"></i>
    <h3>Successful Trips</h3>
  </div>
</div>
