<nav class="navigation">
  <div class="logo">
    <label for="logo">D4C</label>
  </div>
  <div class="links">
    <ul>
      <li><a class="navi-options" href="#home">Home</a></li>
      <li><a class="navi-options" href="#about">About Us</a></li>
      <li><a class="navi-options" href="#events">Events</a></li>
      <li><a class="navi-options" href="#">Pages</a></li>
    </ul>
  </div>
</nav>
