<section class="steps" id="steps">
  <div class="container">
    <div class="steps-container align-items-center">
      <div class="img">
        <%= image_tag 'home/steps.png' %>
      </div>
      <div class="steps-content">
        <h2>How You Can Help</h2>
        <h5>Step One:</h5>
        <p>Quisque commodo libero vel vulputate sagittis. Vivamus dolor elit, mattis ac lectus nec, dictum convallis mauris.</p>
        <br>
        <h5>Step Two:</h5>
        <p>Sit amet tempor urna finibus. In tristique, risus in semper pretium, quam mi blandit est, sit amet viverra est leo eu elit.</p>
        <br>
        <h5>Step Three:</h5>
        <p>Aliquam luctus nulla placerat nibh auctor, vitae tempor tortor tincidunt. Duis et sapien ac sem mollis dapibus et at arcu.</p>
      </div>
    </div>
  </div>
</section>
