<section class="value" id="value">
  <div class="value-offset">
    <div class="value-header">
      <h5>What we do</h5>
      <h2>Every Black Girl Deserves <br> A Chance to Travel</h2>
    </div>
    <div class="value-container">
      <div class="v-prop">
        <h4>Cultrual Exchange</h4>
        <p>As our world continues to become increasingly global, the benefits of cross-cultural exchange are vast.</p>
      </div>
      <div class="v-prop">
        <h4>Low-Income Outreach</h4>
        <p>Low-income students stand to gain a great deal from the opportunity to live in contexts different than their own.</p>
      </div>
      <div class="v-prop">
        <h4>Leadership Development</h4>
        <p>We believe that cross-cultural study opens up the possibilities of change, transformation and leadership for students.</p>
      </div>
      <div class="v-prop">
        <h4>New Discovery</h4>
        <p>The opportunity to experience cultures, places, people, languages and foods different than their own.</p>
      </div>
    </div>
  </div>
</section>
