.aff-row{
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  background-color: #fbc3bc;
  justify-content: space-around;
}
.aff-box{
  display: flex;
  flex-direction: row;
  color: #91524A;
  align-items: center;
  gap: 1rem;
}
.fa-solid{
  font-size: 1.5rem;
}
.aff-row .aff-box h3{
  font-size: clamp(1rem, 3vw, 1.8rem);
}

@media (max-width: 435px){
  .aff-box {
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
  }
}
